<form id="settings_plugin_ABL_Expert" class="form-horizontal">
  <ul class="nav nav-pills">
    <li class="active"><a href="#settings_able_general" data-toggle="tab">{{ _('General') }}</a>
    </li>
    <li data-bind="visible: printerAbl()"><a href="#settings_able_mlc" data-toggle="tab">{{ _('Mesh leveling correction') }}</a>
    </li>
    <li data-bind="visible: printerAbl()" class="correction_preview"><a href="#settings_able_mp" data-toggle="tab">
        <div data-bind="click: correctionPreview()">{{ _('Correction preview') }}      </div></a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="settings_able_general" class="tab-pane active">
      <div data-bind="visible: !printerOnline()" class="message warning">{{ _('Please connect your printer to get its capabilities') }}
      </div>
      <div data-bind="visible: printerOnline() && printerLackCap()" class="message error">{{ _('Error: Your printer doesn\'t support some capabilities needed by this plugin, please enable it in') }}
{{ _('your firmware :') }}
        <ul>
          <li data-bind="visible: !printerEeprom()">{{ _('EEPROM saving') }}</li>
          <li data-bind="visible: !printerZprobe()">{{ _('Z probe support') }}</li>
          <li data-bind="visible: !printerAbl()">{{ _('Bed auto leveling support') }}</li>
        </ul>
      </div>
      <fieldset>
        <div class="control-group">
          <label class="control-label">{{ _('Preheat') }}</label>
          <div class="controls">
            <select data-bind="options: preheatOptions, value: pluginSettings.preheat_selected"></select><span class="help-inline">{{ _('Preheat profile values to use') }}</span>
          </div>{% if  plugin_ABL_Expert_profile.heatedBed %}
          <div class="controls">
            <label class="checkbox">{{ _('Only preheat the bed') }}
              <input type="checkbox" data-bind="checked: pluginSettings.preheat_bed_only"/>
            </label>
          </div>{% endif %}
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">{{ _('Cooldown after probing') }}
              <input type="checkbox" data-bind="checked: pluginSettings.cooldown"/>
            </label><span class="help-inline">{{ _('Set temperatures targets to zero after probing') }}</span>
          </div>
        </div>
        <div data-bind="visible: printerZprobe()" class="control-group">
          <label class="control-label">Z probe offset</label>
          <div class="controls">
            <input type="number" data-bind="value: pluginSettings.probe_offset" step="0.1"/><span class="help-inline">Height difference in millimeters between the probe detection and the nozzle. This is stored in printer via M851 gcode command</span><span style="color:#d9534f;" class="help-inline">Since this value is always negative, we get rid of the sign. Better is to set a positive value then.</span>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">{{ _('Save values in EEPROM (mesh, probe offset)') }}
              <input type="checkbox" data-bind="checked: pluginSettings.eeprom_save, enable: printerEeprom"/>
            </label><span class="help-inline">{{ _('Save data (z offset and bed mesh) in EEPROM') }}</span><span data-bind="visible: !printerEeprom()" style="color: #d9534f" class="help-inline">{{ _('No support EEPROM save, you will not be able to save the bed leveling mesh !') }}</span>
          </div>
        </div>
      </fieldset>
    </div>

    <div id="settings_able_mlc" class="tab-pane">
      <fieldset>
        <h4>X axis</h4>
        <div class="control-group">
          <label class="control-label">Right offset</label>
          <div class="controls">
            <input id="x_final_offset" type="number" data-bind="value: pluginSettings.x_final_offset" step="0.1"/><span class="help-inline">Global height difference between right and left part of the bed. All intermediate points of the mesh will be corrected with a proportional amount : linear correction</span>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">Bilinear correction
              <input id="x_bilinear" type="checkbox" data-bind="checked: pluginSettings.x_bilinear" autocomplete="off"/>
            </label><span class="help-inline">Activate bilinear correction : correction will follow two lines with point defined below as origin</span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Begin at index</label>
          <div class="controls">
            <input id="x_point_index" type="number" step="1" data-bind="value: pluginSettings.x_point_index, enable: pluginSettings.x_bilinear,
                                           attr: {min: 1, max: pluginSettings.max_index}"/><span class="help-inline">Mesh point index to consider</span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">with value</label>
          <div class="controls">
            <input id="x_point_offset" type="number" step="0.1" data-bind="value: pluginSettings.x_point_offset, enable: pluginSettings.x_bilinear"/><span class="help-inline">Offset correction for the mesh point above</span>
          </div>
        </div>
        <h4>Y axis</h4>
        <div class="control-group">
          <label class="control-label">Back offset</label>
          <div class="controls">
            <input id="y_final_offset" type="number" data-bind="value: pluginSettings.y_final_offset" step="0.1"/><span class="help-inline">Global height difference between front and back part of the bed. All intermediate points of the mesh will be corrected with a proportional amount : linear correction  </span>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">Bilinear correction
              <input id="y_bilinear" type="checkbox" data-bind="checked: pluginSettings.y_bilinear" autocomplete="off"/>
            </label><span class="help-inline">Activate bilinear correction : correction will follow two lines with point defined below as origin</span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Begin at index</label>
          <div class="controls">
            <input id="y_point_index" type="number" step="1" data-bind="value: pluginSettings.y_point_index, enable: pluginSettings.y_bilinear,
                                           attr: {min: 1, max: pluginSettings.max_index}"/><span class="help-inline">Mesh point index to consider</span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">with value</label>
          <div class="controls">
            <input id="y_point_offset" type="number" step="0.1" data-bind="value: pluginSettings.y_point_offset, enable: pluginSettings.y_bilinear"/><span class="help-inline">Offset correction for the mesh point above</span>
          </div>
        </div>
      </fieldset>
    </div>
    <div id="settings_able_mp" class="tab-pane">
      <div data-bind="visible: probedMeshTable(), html: probedMeshTable()" class="meshTable"></div>
      <div data-bind="visible: fixedMeshTable(), html: fixedMeshTable()" class="meshTable"></div>
    </div>
  </div>
</form>