form#settings_plugin_ABL_Expert.form-horizontal
  ul.nav.nav-pills
    li.active
      a(href="#settings_able_general" data-toggle="tab") {{ _('General') }}
    //- li(data-bind="visible: printerZprobe()")
      a(href="#settings_able_zprobe" data-toggle="tab") {{ _('Z probe') }}
    li(data-bind="visible: printerAbl()")
      a(href="#settings_able_mlc" data-toggle="tab") {{ _('Mesh leveling correction') }}
    li.correction_preview(data-bind="visible: printerAbl()")
      a(href="#settings_able_mp" data-toggle="tab")
        div(data-bind="click: correctionPreview()") {{ _('Correction preview') }}      
  div.tab-content
    div.tab-pane.active(id="settings_able_general")
      div.message.warning(data-bind="visible: !printerOnline()") 
        | {{ _('Please connect your printer to get its capabilities') }}
      div.message.error(data-bind="visible: printerOnline() && printerLackCap()")
        | {{ _('Error: Your printer doesn\'t support some capabilities needed by this plugin, please enable it in') }}
        | {{ _('your firmware :') }}
        ul
          li(data-bind="visible: !printerEeprom()") {{ _('EEPROM saving') }}
          li(data-bind="visible: !printerZprobe()") {{ _('Z probe support') }}
          li(data-bind="visible: !printerAbl()") {{ _('Bed auto leveling support') }}
      fieldset
        //- div.control-group
          div.controls
            label.checkbox {{ _('Trigger full cycle on G29') }}
              input(type="checkbox", data-bind="checked: pluginSettings.g29_process")
            span.help-inline {{ _('Watch for G29 command and trigger full cycle') }}
        //- h4 {{ _('Preheat') }}
        div.control-group
          label.control-label {{ _('Preheat') }}
          div.controls
            select(data-bind="options: preheatOptions, value: pluginSettings.preheat_selected")
            span.help-inline {{ _('Preheat profile values to use') }}
          if plugin_ABL_Expert_profile.heatedBed
            div.controls
              label.checkbox {{ _('Only preheat the bed') }}
                input(type="checkbox", data-bind="checked: pluginSettings.preheat_bed_only")
              //- span.help-inline {{ _('Do not preheat the nozzle during leveling. Use with caution !') }}
        div.control-group
          div.controls
            label.checkbox {{ _('Cooldown after probing') }}
              input(type="checkbox", data-bind="checked: pluginSettings.cooldown")
            span.help-inline {{ _('Set temperatures targets to zero after probing') }}
        div.control-group(data-bind="visible: printerZprobe()")
          //- h4 {{ _('Z probe') }}
          //- div.control-group
          label.control-label Z probe offset
          div.controls
            input(type="number", data-bind="value: pluginSettings.probe_offset", step="0.1")
            span.help-inline Height difference in millimeters between the probe detection and the nozzle. 
              | This is stored in printer via M851 gcode command
            span.help-inline(style="color:#d9534f;") 
              | Since this value is always negative, we get rid of the sign. Better is to set a positive value then.
        div.control-group
          div.controls
            label.checkbox {{ _('Save values in EEPROM (mesh, probe offset)') }}
              input(type="checkbox", data-bind="checked: pluginSettings.eeprom_save, enable: printerEeprom")
            span.help-inline {{ _('Save data (z offset and bed mesh) in EEPROM') }}
            span.help-inline(data-bind="visible: !printerEeprom()" style="color: #d9534f") 
              | {{ _('No support EEPROM save, you will not be able to save the bed leveling mesh !') }}
    //- div.tab-pane(id="settings_able_zprobe")
      fieldset
        div.control-group
          label.control-label X distance from nozzle
          div.controls
            input(type="number", data-bind="value: pluginSettings.probe_x", step="1")
            span.help-inline Distance in millimeters on X axis between the nozzle and the probe, 
              | should have the same value as in marlin firmware
        div.control-group
          label.control-label Y distance from nozzle
          div.controls
            input(type="number", data-bind="value: pluginSettings.probe_y", step="1")
            span.help-inline Distance in millimeters on Y axis between the nozzle and the probe, 
              | should have the same value as in marlin firmware
        div.control-group
          label.control-label Z offset
          div.controls
            input(type="number", data-bind="value: pluginSettings.probe_offset", step="0.1")
            span.help-inline Height difference in millimeters between the probe detection and the nozzle. 
              | This is stored in printer via M851 gcode command
            span.help-inline(style="color:#d9534f;") Since this value is always negative, we get rid of the sign.
              | Better is to set a positive value then.

    div.tab-pane(id="settings_able_mlc")
      fieldset
        h4 X axis
        div.control-group
          label.control-label Right offset
          div.controls
            input#x_final_offset(type="number", data-bind="value: pluginSettings.x_final_offset", step="0.1")
            span.help-inline Global height difference between right and left part of the bed. 
              | All intermediate points of the mesh will be corrected with a proportional amount : linear correction
        div.control-group
          div.controls
            label.checkbox Bilinear correction
              input#x_bilinear(type="checkbox", data-bind="checked: pluginSettings.x_bilinear", autocomplete="off")
            span.help-inline Activate bilinear correction : correction will follow two lines with point defined below as origin
        div.control-group
          label.control-label Begin at index
          div.controls
            input#x_point_index(type="number", step="1",
                                data-bind="value: pluginSettings.x_point_index, enable: pluginSettings.x_bilinear,
                                           attr: {min: 1, max: pluginSettings.max_index}")
            span.help-inline Mesh point index to consider
        div.control-group
          label.control-label with value
          div.controls
            input#x_point_offset(type="number", step="0.1",
                                 data-bind="value: pluginSettings.x_point_offset, enable: pluginSettings.x_bilinear")
            span.help-inline Offset correction for the mesh point above
        
        h4 Y axis
        div.control-group
          label.control-label Back offset
          div.controls
            input#y_final_offset(type="number", data-bind="value: pluginSettings.y_final_offset", step="0.1")
            span.help-inline Global height difference between front and back part of the bed. 
              | All intermediate points of the mesh will be corrected with a proportional amount : linear correction  
        div.control-group
          div.controls
            label.checkbox Bilinear correction
              input#y_bilinear(type="checkbox", data-bind="checked: pluginSettings.y_bilinear", autocomplete="off")
            span.help-inline Activate bilinear correction : correction will follow two lines with point defined below as origin
        div.control-group
          label.control-label Begin at index
          div.controls
            input#y_point_index(type="number", step="1", 
                                data-bind="value: pluginSettings.y_point_index, enable: pluginSettings.y_bilinear,
                                           attr: {min: 1, max: pluginSettings.max_index}")")
            span.help-inline Mesh point index to consider
        div.control-group
          label.control-label with value
          div.controls
            input#y_point_offset(type="number", step="0.1", 
                                 data-bind="value: pluginSettings.y_point_offset, enable: pluginSettings.y_bilinear")
            span.help-inline Offset correction for the mesh point above
    div.tab-pane(id="settings_able_mp")
      div.meshTable(data-bind="visible: probedMeshTable(), html: probedMeshTable()")
      div.meshTable(data-bind="visible: fixedMeshTable(), html: fixedMeshTable()")
